header{
    background-color: rgb(247, 114, 136);
    padding: 20px;
    text-align: center;
}

#logo>img{
    width: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

nav>a{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px grey;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;   
}

nav>a:hover{
    color: rgb(94, 9, 61);
    transition-duration: 0.5s;
}