main{
    text-align: center;
}

.card>img{
    width: 500px;
    margin: 20px;
}

#container{
    display: flex;
    justify-content: space-around;
}
#container>div>img{
    width: 400px;
    margin: 20px;
    background-color: rgb(236, 59, 89);
    padding: 10px;
    border-radius: 20px;
    height: 500px;
    box-shadow: 2px 2px 10px grey;
    cursor: pointer;
}

#container>div>img:hover{
    width: 450px;
    height: 600px;
    transition-duration: 0.5s;
    background-color: rgb(44, 43, 43);
}

#cont_titulo{
    background-color: rgb(32, 30, 30);
    color: white;
    font: 30px;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

#contato{
    background: linear-gradient(to right , rgb(243, 132, 151),rgb(236, 59, 89));
    border-radius: 0px 0px 20px 20px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
    padding: 20px;
}

#contato>div>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 2px grey;
}

#contato>div>a>img{
    width: 75px;
    margin-top: -10px;
    margin-bottom: -15px;
    padding: 10px;
}