@media (max-width: 530px){
    #container{
        display: block;
    }

    #container>div>img{
        width: 80vw;
        height: 50vh;
    }

    #container>div>img:hover{
        width: 80vw;
        height: 50vh;
    }

    nav>a{
        font-size: 21px;
        margin-left: 10px;
    }

    #cont_titulo{
        margin-left: 15px;
        margin-right: 15px;
    }

    #contato{
        margin-left: 15px;
        margin-right: 15px;
    }  
}