*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --rosa: #eeced1;
}

body{
    background: linear-gradient(to right,var(--rosa) 40%, rgb(253, 152, 169) );
    height: 100vh;
}

#container{
    display: flex;
}